﻿@model Inspinia_MVC5_SeedProject.Models.Contrato

@{
    ViewBag.Title = "Edit";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Edit</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Edit</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Edit Contrato</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ContratoID)

        <div class="form-group">
            @Html.LabelFor(model => model.AlunoID, "AlunoID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AlunoID", String.Empty)
                @Html.ValidationMessageFor(model => model.AlunoID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CursoID, "CursoID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CursoID", String.Empty)
                @Html.ValidationMessageFor(model => model.CursoID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataContrato, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataContrato)
                @Html.ValidationMessageFor(model => model.DataContrato)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Valor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Valor)
                @Html.ValidationMessageFor(model => model.Valor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValorTotal, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValorTotal)
                @Html.ValidationMessageFor(model => model.ValorTotal)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}


                </div>
            </div>
        </div>
    </div>
 </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
